<div class="container">
    <div class="title text-center">
        <h3 class="text-uppercase my-5">
            Half side text and button and other half as image (Responsive) according to bootstrap.
        </h3>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-4">
                <img src="https://wallpaperaccess.com/full/1338352.jpg" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        Card title
                    </h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, dignissimos delectus. Numquam, excepturi, quod temporibus facere iste assumenda rerum labore quis nihil velit magni, quam dolorem dicta fugit nesciunt nobis!
                    </p>
                    <button class="btn btn-primary">
                        Read More
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-4">
                <img src="https://miro.medium.com/max/720/0*3bPbSq7pXs8P5Mdq" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        Can ChatGPT kill Google?
                    </h5>
                    <p class="card-text">
                        There’s too much rubbish on the Internet.

In fact, it’s pretty tough to find quality content, especially in Crypto or AI. It’s time-consuming and, more times than not, ends up in nothing.

But you know you need to stay ahead of the curve if you want to be successful. Yeah, truth hurts.

Luckily, you can take the easy route and subscribe to my weekly newsletter, where I deep dive into complex innovation topics and provide the latest news on Crypto and AI.
                    </p>
                    <button class="btn btn-primary">
                        Read More
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>