.user {
    background: #f4f4f4;
    margin: 5px;
    padding: 10px, 20px;
    cursor: pointer;
    border-left: 5px solid green;
}
.user h6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-centre{
    text-align: center;
}